Package: cgl
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: CGL+ <cgl@crazygamelabs.co.uk>
Depends: sudo, apt
Description: CGL+ package and script manager
 A Homebrew-inspired package and script manager for Debian-based systems.
Homepage: https://crazygamelabs.co.uk/
